.metadata
.git
.gitignore
.DS_Store
*.md
README*
docker-compose.yml
deployment
.env.local
*.log
node_modules
npm-debug.log
.gradle
build
dist
out
.idea
*.iml
target/classes
target/test-classes
*.class
